/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
}

a {
    color: #0563bb;
    text-decoration: none;
}

    a:hover {
        color: #067ded;
        text-decoration: none;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

#button {
    display: none;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: auto;
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: #0563bb;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
}

    .back-to-top i {
        font-size: 24px;
        position: absolute;
        top: 7px;
        left: 8px;
    }

    .back-to-top:hover {
        color: #fff;
        background: #0678e3;
        transition: background 0.2s ease-in-out;
    }

@media screen and (max-width: 600px) {
    .back-to-top {
        display: none;
    }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

    #preloader:before {
        content: "";
        position: fixed;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        border: 6px solid #0563bb;
        border-top-color: #fff;
        border-bottom-color: #fff;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        -webkit-animation: animate-preloader 1s linear infinite;
        animation: animate-preloader 1s linear infinite;
    }

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Header
-------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    padding-right: 60px;
    left: auto;
}


    #header.header-scrolled {
        background: rgba(0, 0, 0, 0.9);
        padding: 12px 0;
    }

@media (max-width: 992px) {
    #header {
        width: 300px;
        background: #fff;
        border-right: 1px solid #e6e9ec;
        left: -300px;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
    padding: 0;
}

    .nav-menu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .nav-menu li {
        position: relative;
    }

    .nav-menu > ul > li {
        white-space: nowrap;
        padding: 10px 0 10px 30px;
    }

    .nav-menu a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgb(66, 66, 66);
        font-size: 16px;
        font-weight: 600;
        padding: 0;
        white-space: nowrap;
        transition: 0.3s;
        letter-spacing: 0.4px;
        position: relative;
        text-transform: uppercase;
    }

        .nav-menu a i {
            font-size: 12px;
            line-height: 0;
            margin-left: 5px;
        }

    .nav-menu > ul > li > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -6px;
        left: 0;
        width: 0;
        background-color: #0563bb;
        visibility: hidden;
        transition: all 0.3s ease-in-out 0s;
    }

    .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active a:before {
        visibility: visible;
        width: 80%;
    }

    .nav-menu a:hover:before, .nav-menu .active a, .nav-menu li .active, .nav-menu li:hover {
        color: #04539c;
    }

@media (max-width: 1366px) {
    .nav-menu ul {
        left: -90%;
    }

    .nav-menu:hover > ul {
        left: -100%;
    }
}
/**
* Mobile Navigation 
*/


@media (max-width: 992px) {
    .nav-menu a {
        width: 56px;
        text-align: center;
        left: unset;
        display: unset;
        max-height: 0px;
    }

    .nav-menu {
        background-color: rgba(252, 252, 252, 0.5);
        top: 0px;
        /*margin-top: 25px;*/
        /*padding-top: 5px;*/
        position: fixed;
        width: 100%;
        text-align: center;
        margin-left: 300px;
        display: block;
        max-height: 0px;
        transition: 1s;
        overflow: hidden;
    }

        .nav-menu ul {
            width: 100%;
            display: block;
            text-align: center;
        }

    #button {
        display: inline-block;
        cursor: pointer;
        /*display: flex;*/
        position: fixed;
        top: 0;
        padding: 1px;
        margin-top: 2px;
        margin-left: 302px;
    }
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color: #0563bb;
    border-radius: 50%;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 3px);
    transform: rotate(-45deg) translate(-4px, 3px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.container {
    margin-left: 100px;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1555066932-e78dd8fb77bb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fHByb2dyYW1tZXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: cover;
    position: relative;
}

@media (min-width: 992px) {
    #hero {
        padding-left: 300px;
    }
}

@media (min-width: 1282px) {
    #hero {
        padding-left: 660px;
    }

    @media (min-width: 1440px) {
        #hero {
            padding-left: 760px;
        }
    }
}

#hero:before {
    content: "";
    background: rgba(252, 252, 252, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin-left: 0px;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: rgb(66, 66, 66);
    /*//#525353; */
}

#hero p {
    color: rgb(66, 66, 66);
    /*#45505b;*/
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

    #hero p span {
        color: #0563bb;
        letter-spacing: 1px;
    }

#hero .social-links {
    margin-top: 30px;
}

    #hero .social-links a, a.instagram {
        font-size: 24px;
        display: inline-block;
        color: rgb(66, 66, 66);
        /*#45505b;*/
        line-height: 1;
        margin-right: 20px;
        transition: 0.3s;
    }

        #hero .social-links a:hover {
            color: #0563bb;
        }

        #hero .social-links a.instagram:hover {
            color: #d9317a;
            background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #hero .social-links a.github:hover {
            color: #000000;
        }

@media (max-width: 992px) {
    #hero {
        text-align: center;
    }

        #hero h1 {
            font-size: 32px;
            line-height: 36px;
        }

        #hero p {
            margin-top: 10px;
            font-size: 20px;
            line-height: 24px;
        }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

    .section-title h2 {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #45505b;
    }

        .section-title h2::before {
            content: '';
            position: absolute;
            display: block;
            width: 120px;
            height: 1px;
            background: #ddd;
            bottom: 1px;
            left: calc(50% - 60px);
        }

        .section-title h2::after {
            content: '';
            position: absolute;
            display: block;
            width: 40px;
            height: 3px;
            background: #0563bb;
            bottom: 0;
            left: calc(50% - 20px);
        }

    .section-title p {
        margin-bottom: 0;
    }

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #728394;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

    .about .content ul li {
        padding-bottom: 10px;
    }

    .about .content ul i {
        font-size: 20px;
        padding-right: 2px;
        color: #0563bb;
    }

.about .content p:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
    height: 50px;
    display: block;
    background: none;
}

    .skills .progress .skill {
        padding: 10px 0;
        margin: 0 0 6px 0;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: #45505b;
    }

.skills .progress-bar-wrap {
    background: #f2f3f5;
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
    background-color: #0563bb;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
}

    .resume .resume-item h4 {
        line-height: 18px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: #0563bb;
        margin-bottom: 10px;
    }

    .resume .resume-item h5 {
        font-size: 16px;
        background: #f7f8f9;
        padding: 5px 15px;
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .resume .resume-item ul {
        padding-left: 20px;
    }

        .resume .resume-item ul li {
            padding-bottom: 10px;
        }

    .resume .resume-item:last-child {
        padding-bottom: 0;
    }

    .resume .resume-item::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        left: -9px;
        top: 0;
        background: #fff;
        border: 2px solid #0563bb;
    }
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    width: 100%;
    background: #fff;
}

    .contact .info i {
        font-size: 20px;
        color: #0563bb;
        float: left;
        width: 44px;
        height: 44px;
        background: #eef7ff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
    }

    .contact .info h4 {
        padding: 0 0 0 60px;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #45505b;
    }

    .contact .info p {
        padding: 0 0 0 60px;
        margin-bottom: 0;
        font-size: 14px;
        color: #728394;
    }

    .contact .info .email, .contact .info .phone {
        margin-top: 40px;
    }

        .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
            background: #0563bb;
            color: #fff;
        }

.contact .cs-email-form {
    width: 100%;
    background: #fff;
}

    .contact .cs-email-form .form-group {
        padding-bottom: 8px;
    }

    .contact .cs-email-form .validate {
        display: none;
        color: red;
        margin: 0 0 15px 0;
        font-weight: 400;
        font-size: 13px;
       
    }

    .contact .cs-email-form .error {
        color: red;
        text-align: left;
        font-size: smaller;
    }

        .contact .cs-email-form .error br + br {
            margin-top: 25px;
        }

    .contact .cs-email-form .success {
        /*display: none;
        color: #fff;
        background: #18d26e;*/
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }

    .contact .cs-email-form .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
    }

        .contact .cs-email-form .loading:before {
            content: "";
            display: inline-block;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            margin: 0 10px -6px 0;
            border: 3px solid #18d26e;
            border-top-color: #eee;
            -webkit-animation: animate-loading 1s linear infinite;
            animation: animate-loading 1s linear infinite;
        }

    .contact .cs-email-form input, .contact .cs-email-form textarea {
        border-radius: 4px;
        box-shadow: none;
        font-size: 14px;
    }

    .contact .cs-email-form input {
        height: 44px;
    }

    .contact .cs-email-form textarea {
        padding: 10px 12px;
    }

    .contact .cs-email-form button[type="submit"] {
        background: #0563bb;
        border: 0;
        padding: 10px 35px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
    }

        .contact .cs-email-form button[type="submit"]:hover {
            background: #0678e3;
        }

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #f7f8f9;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

    #footer h3 {
        font-size: 36px;
        font-weight: 700;
        position: relative;
        font-family: "Poppins", sans-serif;
        padding: 0;
        margin: 0 0 15px 0;
    }

    #footer p {
        font-size: 15px;
        font-style: italic;
        padding: 0;
        margin: 0 0 40px 0;
    }

    #footer .social-links {
        margin: 0 0 40px 0;
    }

        #footer .social-links a {
            font-size: 18px;
            display: inline-block;
            background: #0563bb;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
        }

            #footer .social-links a:hover {
                background: #0678e3;
                color: #fff;
                text-decoration: none;
            }

    #footer .copyright {
        margin: 0 0 5px 0;
    }

    #footer .credits {
        font-size: 13px;
    }

@media only screen and (max-width: 600px) {
    #hero:before {
        content: "";
        background: rgba(252, 252, 252, 0.85);
    }

    /* .nav-menu{
    display: none;
  }*/
    .nav-menu {
        margin-left: 300px;
    }

    body {
        width: 100%;
    }

    #hero {
        width: 100%;
    }

    section {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    #header {
        padding-right: -120px;
    }

    .about {
        width: 100%;
    }

    #footer {
        display: none;
        width: 100%;
        margin: 0px;
        font-size: 50%;
    }

    .container {
        text-align: center;
        width: 90%;
        padding-left: 20px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .img-fluid {
        text-align: center;
    }
}
